body {
  background-image: url("img/cream_dust.png");
}

h1 {
  text-align: center;	
  color: white;
  font-weight: 200;
}

li {
  margin-left: 40px;
}
.navbar {
  background: rgb(20,120,190);
}
nav a {
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  color: white; 
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
}

body .nav {
  box-shadow: 0 10px 20px rgba(0,0,0, .19),
    0 6px 6px rgba(0,0,0, .23) ;
}

.cover-photo img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 500px;
  border-radius: 2px; 
}

.squash-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5px;
}

.photography img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5px;

}

iframe { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.linkedin {
  height: 40px;
  width: 40px;
}

.mailto {
  border-radius: 7px;
  height: 50px;
  width: 43px;
}

.vimeo {
  height: 42px;
  width: 44px;
}

.startupgrid {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 800px;
}

.title {
    position: relative;
    text-align: center;
    text-decoration: underline;
    font-weight: 200;
}

div p {
  font-weight: 100;
}
ul {
  font-weight: 500;
}
li {
  font-weight: 200;
}
span {
  font-weight: 400;
}

